body {
  background-color: #CCCCFF;

}

#topsplash {
 background-color: #0000FF;
 color: #FFFFFF;
 text-align: center; 
 width: 100%;
 height: 150px;
}

#error {
  color: #FF0000;
  font-style: italic;
}

#logquestion {
  width: 15%; 
  height: 15px;
  float: left; 
  //border: 1px solid red;
}

#newuserquestion {
  margin-left: 1em;
  height: 15px;
  float: left; 
  //border: 1px solid green;
}

#logform {
  //border: 1px solid white;
  text-align: left;
  padding-top: 10px;
}

#myEvents {
 border: 1px solid white;
 width: 40%;
}

#myAcft {
 float: left;
 border: 1px solid white;
 width: 40%
}

#myFlights{
 float: right;
 border: 1px solid white;
 width: 55%;
}

table {
 text-align: center;
 vertical-align: text-top;
}
